.home-container {
	max-width: 900px;
	margin: 0 auto;
	width: 90%;
	height: 90vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 0.5rem;
	text-align: start;
	line-height: 1.5;

	section {
		width: 100%;
	}
}
